html,
body {
  --body-color: #0B1E33;
  --yellow-color: #ffe16b;
  --high: #c6262e;
  --med: #f37329;
  --low: #d48e15;
  padding: 0;
  margin: 0;
  font-family: 'Inter', "Sans-Serif";
  ;
  background-color: var(--body-color);
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
